export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS="@im=fcitx"

export GO111MODULE=auto
export GOPROXY=https://goproxy.cn
export GOROOT=/usr/lib/go
export GOPATH=$HOME/go 
export PATH=$PATH:$GOROOT/bin:$GOPATH/bin

# 设置 http 代理
# export HTTP_PROXY=http://127.0.0.1:8889
# export HTTPS_PROXY=http://127.0.0.1:8889

# 或, 设置 socket 代理(clash)
# export HTTP_PROXY=socks5://127.0.0.1:1089
# export HTTPS_PROXY=socks5://127.0.0.1:1089
